<%= form_with model: @dog do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :motto %><br>
      <%= form.text_area :motto %><br>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  